<h2><%= product[:name] %></h2>
<h2><%= product[:base_price] %></h2>
<h2><%= product[:description] %></h2>
<h2><%= product[:quantity_on_hand] %></h2>
<h2><%= product[:color] %></h2>
<h2><%= product[:weight] %></h2>
<h2><%= product[:other_attributes] %></h2>

